@import "tailwindcss";

@theme {
  --color-background: #181818;
  --color-foreground: #e5e5e5;
  --color-card: #0b0b0b;
  --color-card-foreground: #e5e5e5;
  --color-popover: #0b0b0b;
  --color-popover-foreground: #e5e5e5;
  --color-primary: #d7b11f;
  --color-primary-foreground: #ECECEC;
  --color-secondary: #121212;
  --color-secondary-foreground: #e5e5e5;
  --color-muted: #161616;
  --color-muted-foreground: #C4C4C4;
  --color-accent: #A0811DDA;
  --color-accent-foreground: #F1F1F1;
  --color-destructive: #B31D36;
  --color-destructive-foreground: #F3F3F3;
  --color-border: #232323;
  --color-input: #232323;
  --color-ring: #d7b11f;
  --color-zombie-green: #d7b11f;
  --color-danger-red: #5a1114;
  --color-warning-amber: #f0c533;
  --color-safe-teal: #9B9B9B;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  color: var(--color-foreground);
}